---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"64c73ea22e629c68a259f0add8ce4f38"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"dW5h36vJTOc","slug":"a-woman-sitting-on-a-chair-wearing-a-white-jacket-dW5h36vJTOc","created_at":"2023-07-03T12:40:50Z","updated_at":"2023-08-01T06:36:48Z","promoted_at":"2023-07-17T19:32:01Z","width":2200,"height":2750,"color":"#c0d9c0","blur_hash":"LHJbZ_X9IA%g?b_Mkr8_9HxuR5V@","description":null,"alt_description":"a
        woman sitting on a chair wearing a white jacket","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688388040015-c3985c83a12d?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688388040015-c3985c83a12d?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688388040015-c3985c83a12d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688388040015-c3985c83a12d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688388040015-c3985c83a12d?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688388040015-c3985c83a12d"},"links":{"self":"https://api.unsplash.com/photos/a-woman-sitting-on-a-chair-wearing-a-white-jacket-dW5h36vJTOc","html":"https://unsplash.com/photos/a-woman-sitting-on-a-chair-wearing-a-white-jacket-dW5h36vJTOc","download":"https://unsplash.com/photos/dW5h36vJTOc/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8","download_location":"https://api.unsplash.com/photos/dW5h36vJTOc/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjAyNTR8"},"likes":52,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"aqGpsQ3Jl5E","updated_at":"2023-08-01T15:53:54Z","username":"mahdi_chf","name":"mahdi
        chaghari","first_name":"mahdi","last_name":"chaghari","twitter_username":"mahdi_chf","portfolio_url":"http://instagram.com/mahdi__chf","bio":"\"good
        mistake\"","location":null,"links":{"self":"https://api.unsplash.com/users/mahdi_chf","html":"https://unsplash.com/@mahdi_chf","photos":"https://api.unsplash.com/users/mahdi_chf/photos","likes":"https://api.unsplash.com/users/mahdi_chf/likes","portfolio":"https://api.unsplash.com/users/mahdi_chf/portfolio","following":"https://api.unsplash.com/users/mahdi_chf/following","followers":"https://api.unsplash.com/users/mahdi_chf/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1609792897842-d72d944d33cfimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1609792897842-d72d944d33cfimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1609792897842-d72d944d33cfimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"mahdi_chf","total_collections":0,"total_likes":45,"total_photos":554,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"mahdi_chf","portfolio_url":"http://instagram.com/mahdi__chf","twitter_username":"mahdi_chf","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"female
        portrait"},{"type":"search","title":"night portrait"},{"type":"search","title":"Portrait"},{"type":"search","title":"portraits"},{"type":"search","title":"asian
        fashion"},{"type":"search","title":"fashion"},{"type":"search","title":"fashion
        shoot"},{"type":"search","title":"Fashion photography"},{"type":"search","title":"jacket"},{"type":"search","title":"blazer"},{"type":"search","title":"coat"},{"type":"search","title":"formal
        wear"},{"type":"search","title":"accessories"},{"type":"search","title":"female"},{"type":"search","title":"adult"},{"type":"search","title":"head"},{"type":"search","title":"face"},{"type":"landing_page","title":"happy","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"feelings","pretty_slug":"Feelings"},"subcategory":{"slug":"happy","pretty_slug":"Happy"}},"title":"Happy
        images \u0026 pictures","subtitle":"Download free happy images","description":"Choose
        from a curated selection of happy photos. Always free on Unsplash.","meta_title":"Happy
        Pictures [HQ] | Download Free Images \u0026 Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free happy pictures. Download HD happy photos for free on
        Unsplash.","cover_photo":{"id":"muS2RraYRuQ","slug":"muS2RraYRuQ","created_at":"2017-05-17T06:08:15Z","updated_at":"2023-07-31T06:01:47Z","promoted_at":"2017-05-17T11:14:14Z","width":3711,"height":5567,"color":"#262626","blur_hash":"LJC?$J%Mt7of_4IURjog~qD$WBof","description":"Sunset
        Strip sidewalk sign","alt_description":"good vibes only text","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1495001258031-d1b407bc1776?ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1495001258031-d1b40[...]
