---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"db7ebd253e217ca3ba3408b22e9b0a30"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"VCCPcOZYHwM","slug":"a-tall-white-building-with-lots-of-windows-VCCPcOZYHwM","created_at":"2023-07-10T04:12:54Z","updated_at":"2023-08-01T16:40:56Z","promoted_at":"2023-07-10T06:08:01Z","width":4787,"height":3215,"color":"#d9f3f3","blur_hash":"L7NU6XIT0y?a?bx]M{V@tRRPa}fl","description":null,"alt_description":"a
        tall white building with lots of windows","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688962328143-358fc2953823?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688962328143-358fc2953823?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688962328143-358fc2953823?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688962328143-358fc2953823?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688962328143-358fc2953823?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688962328143-358fc2953823"},"links":{"self":"https://api.unsplash.com/photos/a-tall-white-building-with-lots-of-windows-VCCPcOZYHwM","html":"https://unsplash.com/photos/a-tall-white-building-with-lots-of-windows-VCCPcOZYHwM","download":"https://unsplash.com/photos/VCCPcOZYHwM/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8","download_location":"https://api.unsplash.com/photos/VCCPcOZYHwM/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTM0MDZ8"},"likes":13,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"ooFluXOe-Jo","updated_at":"2023-08-01T07:27:13Z","username":"danist07","name":"Danist
        Soh","first_name":"Danist","last_name":"Soh","twitter_username":null,"portfolio_url":null,"bio":"Resident
        in Singapore! Love taking photos and also love to make new friends around
        the worlds. Do add me on Instagram.","location":"Singapore ","links":{"self":"https://api.unsplash.com/users/danist07","html":"https://unsplash.com/@danist07","photos":"https://api.unsplash.com/users/danist07/photos","likes":"https://api.unsplash.com/users/danist07/likes","portfolio":"https://api.unsplash.com/users/danist07/portfolio","following":"https://api.unsplash.com/users/danist07/following","followers":"https://api.unsplash.com/users/danist07/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1664763640329-ca6bce03ae43image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1664763640329-ca6bce03ae43image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1664763640329-ca6bce03ae43image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"sushipingdanist","total_collections":4,"total_likes":480,"total_photos":1379,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"sushipingdanist","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"building"},{"type":"search","title":"housing"},{"type":"search","title":"architectural"},{"type":"search","title":"textures
        and patterns"},{"type":"search","title":"streetphotography"},{"type":"search","title":"singapore
        architecture"},{"type":"search","title":"singapore"},{"type":"search","title":"shapes
        and patterns"},{"type":"search","title":"patterns and textures"},{"type":"search","title":"lines
        pattern"},{"type":"search","title":"housing estate"},{"type":"search","title":"facade
        detail"},{"type":"search","title":"facade design"},{"type":"search","title":"facade
        architecture"},{"type":"landing_page","title":"city","source":{"ancestry":{"type":{"slug":"wallpapers","pretty_slug":"HD
        Wallpapers"},"category":{"slug":"travel","pretty_slug":"Travel"},"subcategory":{"slug":"city","pretty_slug":"City"}},"title":"Hd
        city wallpapers","subtitle":"Download free city wallpapers","description":"Choose
        from a curated selection of city wallpapers for your mobile and desktop screens.
        Always free on Unsplash.","meta_title":"City Wallpapers: Free HD Download
        [500+ HQ] | Unsplash","meta_description":"Choose from hundreds of free city
        wallpapers. Download HD wallpapers for free on Unsplash.","cover_photo":{"id":"Nyvq2juw4_o","slug":"Nyvq2juw4_o","created_at":"2016-11-01T00:26:28Z","updated_at":"2023-07-31T15:01:06Z","promoted_at":"2016-11-01T00:26:28Z","width":3465,"height":2131,"color":"#0c2640","blur_hash":"LhEMa,W=WVWW_4kBjtW=?bkBaefR","description":"City
        architecture and skyscrapers near waterfront","alt_description":"white and
        brown city buildings during daytime","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-4.0.3","full[...]
