---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"454f3d97d02070732b07d9b46b0246db"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"LCUCWH1VBOw","slug":"a-blurry-image-of-people-walking-down-a-street-LCUCWH1VBOw","created_at":"2023-07-09T08:23:56Z","updated_at":"2023-07-31T21:38:05Z","promoted_at":"2023-07-11T17:08:01Z","width":4000,"height":2667,"color":"#0c4040","blur_hash":"L8BMomnM0d7gC8OBs;oz1f+t#kt9","description":"Korpa
        22087","alt_description":"a blurry image of people walking down a street","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688890968318-8d77993d3b99?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688890968318-8d77993d3b99?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688890968318-8d77993d3b99?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688890968318-8d77993d3b99?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688890968318-8d77993d3b99?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688890968318-8d77993d3b99"},"links":{"self":"https://api.unsplash.com/photos/a-blurry-image-of-people-walking-down-a-street-LCUCWH1VBOw","html":"https://unsplash.com/photos/a-blurry-image-of-people-walking-down-a-street-LCUCWH1VBOw","download":"https://unsplash.com/photos/LCUCWH1VBOw/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8","download_location":"https://api.unsplash.com/photos/LCUCWH1VBOw/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MjM4NjN8"},"likes":46,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"8fmH3rtZTTE","updated_at":"2023-08-01T10:43:42Z","username":"jrkorpa","name":"Jr
        Korpa","first_name":"Jr","last_name":"Korpa","twitter_username":"jr_korpa","portfolio_url":"https://www.jrkorpa.com/","bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/jrkorpa","html":"https://unsplash.com/@jrkorpa","photos":"https://api.unsplash.com/users/jrkorpa/photos","likes":"https://api.unsplash.com/users/jrkorpa/likes","portfolio":"https://api.unsplash.com/users/jrkorpa/portfolio","following":"https://api.unsplash.com/users/jrkorpa/following","followers":"https://api.unsplash.com/users/jrkorpa/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1664705826839-12728de04605image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1664705826839-12728de04605image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1664705826839-12728de04605image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"jrkorpa","total_collections":1,"total_likes":885,"total_photos":850,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"jrkorpa","portfolio_url":"https://www.jrkorpa.com/","twitter_username":"jr_korpa","paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"subconscious"},{"type":"landing_page","title":"cover","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"stock","pretty_slug":"Stock"},"subcategory":{"slug":"cover","pretty_slug":"Cover"}},"title":"Cover
        photos \u0026 images","subtitle":"Download free cover photos \u0026 images","description":"Choose
        from a curated selection of cover photos. Every image can be used for free
        for both commercial and personal uses thanks to the Unsplash community''s
        photographers.","meta_title":"27+ Cover Pictures | Download Free Images on
        Unsplash","meta_description":"Choose from hundreds of free cover pictures.
        Download HD cover photos for free on Unsplash.","cover_photo":{"id":"tq0Hu2torko","slug":"tq0Hu2torko","created_at":"2020-03-22T08:01:49Z","updated_at":"2022-12-01T17:06:04Z","promoted_at":"2020-03-22T10:24:01Z","width":2568,"height":3852,"color":"#D2A69E","blur_hash":"LAAAH]tRB=IU0zrq=|Nx~Bsm9uIp","description":null,"alt_description":"woman
        in black long sleeve shirt and black skirt","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1584864096279-cd260f1f7eea?ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1584864096279-c[...]
