---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"3674d5d64225ad4988e2edbe1d1212fa"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"2aYM9zMtKko","slug":"a-grassy-hill-with-two-trees-on-top-of-it-2aYM9zMtKko","created_at":"2023-07-12T08:52:57Z","updated_at":"2023-07-30T14:51:13Z","promoted_at":"2023-07-13T19:40:01Z","width":5016,"height":3670,"color":"#0c260c","blur_hash":"LqGbP6E2oekC~qNGoJof-;ofNHj@","description":"fairytale
        summer scenery","alt_description":"a grassy hill with two trees on top of
        it","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1689151909407-89f198ed6a83?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1689151909407-89f198ed6a83?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1689151909407-89f198ed6a83?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1689151909407-89f198ed6a83?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1689151909407-89f198ed6a83?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1689151909407-89f198ed6a83"},"links":{"self":"https://api.unsplash.com/photos/a-grassy-hill-with-two-trees-on-top-of-it-2aYM9zMtKko","html":"https://unsplash.com/photos/a-grassy-hill-with-two-trees-on-top-of-it-2aYM9zMtKko","download":"https://unsplash.com/photos/2aYM9zMtKko/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8","download_location":"https://api.unsplash.com/photos/2aYM9zMtKko/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA3NjQxNDl8"},"likes":78,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"ILDyESAsWog","updated_at":"2023-07-30T03:02:14Z","username":"debrupas","name":"Pascal
        Debrunner","first_name":"Pascal","last_name":"Debrunner","twitter_username":null,"portfolio_url":"https://www.instagram.com/pd_visuals","bio":"photographer
        based in Switzerland;\r\ncurrently I shoot with SONY ILCE-7M3","location":"Switzerland","links":{"self":"https://api.unsplash.com/users/debrupas","html":"https://unsplash.com/@debrupas","photos":"https://api.unsplash.com/users/debrupas/photos","likes":"https://api.unsplash.com/users/debrupas/likes","portfolio":"https://api.unsplash.com/users/debrupas/portfolio","following":"https://api.unsplash.com/users/debrupas/following","followers":"https://api.unsplash.com/users/debrupas/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1523967453450-bb1d9347d627?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1523967453450-bb1d9347d627?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1523967453450-bb1d9347d627?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"pd_visuals","total_collections":1,"total_likes":42,"total_photos":364,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"pd_visuals","portfolio_url":"https://www.instagram.com/pd_visuals","twitter_username":null,"paypal_email":null}},"exif":{"make":"SONY","model":"ILCE-7M3","name":"SONY,
        ILCE-7M3","exposure_time":"1/320","aperture":"4.0","focal_length":"70.0","iso":100},"location":{"name":"Schweiz","city":null,"country":"Schweiz","position":{"latitude":46.818188,"longitude":8.227512}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"schweiz"},{"type":"search","title":"drumlins"},{"type":"search","title":"drumlin"},{"type":"search","title":"fairy"},{"type":"search","title":"fairytale"},{"type":"landing_page","title":"trees","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"},"subcategory":{"slug":"tree","pretty_slug":"Tree"}},"title":"Tree
        images \u0026 pictures","subtitle":"Download free tree images","description":"Choose
        from a curated selection of tree photos. Always free on Unsplash.","meta_title":"20+
        Tree Pictures \u0026 Images [HD] | Download Free Photos on Unsplash","meta_description":"Choose
        from hundreds of free tree pictures. Download HD tree photos for free on Unsplash.","cover_photo":{"id":"rFBA42UFpLs","slug":"rFBA42UFpLs","created_at":"2015-01-20T21:50:10Z","updated_at":"2023-07-21T11:00:07Z","promoted_at":"2015-01-20T21:50:10Z","width":3333,"height":5000,"color":"#264040","blur_hash":"LKBDyfxu4.NG~qxZE1RkS7k9t7jb","description":"Creek
        in the tree shade","alt_description":"river surrounded by trees","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1421790500381-fc9b5996f343?ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1421790500381-fc9[...]
