---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"c85778e68fb6e244fc397181576a57dd"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"04OGzYiSdsA","slug":"a-close-up-of-two-people-holding-hands-04OGzYiSdsA","created_at":"2023-07-10T23:40:39Z","updated_at":"2023-08-01T16:40:57Z","promoted_at":"2023-07-13T17:24:01Z","width":2848,"height":4288,"color":"#a68c73","blur_hash":"L9GH;wt,.SVs|?NIx]x]yq.8xaS$","description":null,"alt_description":"a
        close up of two people holding hands","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1689032400893-f577d09f67ee?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1689032400893-f577d09f67ee?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1689032400893-f577d09f67ee?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1689032400893-f577d09f67ee?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1689032400893-f577d09f67ee?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1689032400893-f577d09f67ee"},"links":{"self":"https://api.unsplash.com/photos/a-close-up-of-two-people-holding-hands-04OGzYiSdsA","html":"https://unsplash.com/photos/a-close-up-of-two-people-holding-hands-04OGzYiSdsA","download":"https://unsplash.com/photos/04OGzYiSdsA/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8","download_location":"https://api.unsplash.com/photos/04OGzYiSdsA/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MDZ8"},"likes":14,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"xLJaxOcdeZk","updated_at":"2023-07-31T21:48:37Z","username":"jesstef","name":"Jessika
        Arraes","first_name":"Jessika","last_name":"Arraes","twitter_username":null,"portfolio_url":"https://arraesfoto.com/","bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/jesstef","html":"https://unsplash.com/@jesstef","photos":"https://api.unsplash.com/users/jesstef/photos","likes":"https://api.unsplash.com/users/jesstef/likes","portfolio":"https://api.unsplash.com/users/jesstef/portfolio","following":"https://api.unsplash.com/users/jesstef/following","followers":"https://api.unsplash.com/users/jesstef/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1689514701777-f9984e8efd72image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1689514701777-f9984e8efd72image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1689514701777-f9984e8efd72image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"jessikaarraes.ph","total_collections":0,"total_likes":21,"total_photos":52,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"jessikaarraes.ph","portfolio_url":"https://arraesfoto.com/","twitter_username":null,"paypal_email":null}},"exif":{"make":"NIKON
        CORPORATION","model":"NIKON D90","name":"NIKON CORPORATION, NIKON D90","exposure_time":"1/1600","aperture":"2.5","focal_length":"50.0","iso":200},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"hand"},{"type":"search","title":"finger"},{"type":"search","title":"jewelry"},{"type":"search","title":"accessories"},{"type":"search","title":"ring"},{"type":"search","title":"nail"},{"type":"search","title":"skin"}],"tags_preview":[{"type":"search","title":"hand"},{"type":"search","title":"finger"},{"type":"search","title":"jewelry"}],"views":265598,"downloads":1782,"topics":[]}'
  recorded_at: Tue, 01 Aug 2023 19:56:46 GMT
recorded_with: VCR 6.2.0
