---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"7fef58b7f72a66c0f56ead23d726032b"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '44'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"G_kl7VsoY6g","slug":"a-shirtless-man-wearing-green-glasses-making-a-hush-G_kl7VsoY6g","created_at":"2023-07-01T09:06:58Z","updated_at":"2023-07-31T20:38:28Z","promoted_at":"2023-07-01T19:56:01Z","width":5120,"height":6400,"color":"#26260c","blur_hash":"LMECOM~A?vEMyDE2TJIVVsnOM{WU","description":null,"alt_description":"a
        shirtless man wearing green glasses making a hush","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688202408403-b0053d377d37?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688202408403-b0053d377d37?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688202408403-b0053d377d37?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688202408403-b0053d377d37?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688202408403-b0053d377d37?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688202408403-b0053d377d37"},"links":{"self":"https://api.unsplash.com/photos/a-shirtless-man-wearing-green-glasses-making-a-hush-G_kl7VsoY6g","html":"https://unsplash.com/photos/a-shirtless-man-wearing-green-glasses-making-a-hush-G_kl7VsoY6g","download":"https://unsplash.com/photos/G_kl7VsoY6g/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8","download_location":"https://api.unsplash.com/photos/G_kl7VsoY6g/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTIzOTh8"},"likes":24,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"NnvzCv7bJBw","updated_at":"2023-08-01T07:18:52Z","username":"rubenev520","name":"Ruben
        Valenzuela","first_name":"Ruben","last_name":"Valenzuela","twitter_username":null,"portfolio_url":null,"bio":null,"location":"Los
        Angeles, CA","links":{"self":"https://api.unsplash.com/users/rubenev520","html":"https://unsplash.com/@rubenev520","photos":"https://api.unsplash.com/users/rubenev520/photos","likes":"https://api.unsplash.com/users/rubenev520/likes","portfolio":"https://api.unsplash.com/users/rubenev520/portfolio","following":"https://api.unsplash.com/users/rubenev520/following","followers":"https://api.unsplash.com/users/rubenev520/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1677369354113-b23055a85961image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1677369354113-b23055a85961image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1677369354113-b23055a85961image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"Ruben_Valenzuela_Media","total_collections":1,"total_likes":161,"total_photos":164,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"Ruben_Valenzuela_Media","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":null,"model":null,"name":null,"exposure_time":null,"aperture":null,"focal_length":null,"iso":null},"location":{"name":null,"city":null,"country":null,"position":{"latitude":null,"longitude":null}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"fashion"},{"type":"search","title":"male
        fashion"},{"type":"search","title":"male model"},{"type":"search","title":"model"},{"type":"search","title":"studio
        lighting"},{"type":"search","title":"posing"},{"type":"search","title":"glasses"},{"type":"search","title":"photography"},{"type":"landing_page","title":"person","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"people","pretty_slug":"People"}},"title":"People
        images \u0026 pictures","subtitle":"Download free people images","description":"Human
        faces speak to us in a way that language cannot. Everyone recognize a smile,
        a frown, tears. Unsplash has the finest selection of people images on the
        web: high-def and curated for quality. Family, friends, men, women, Unsplash
        has photos for all.","meta_title":"People Pictures [HQ] | Download Free Images
        on Unsplash","meta_description":"Choose from hundreds of free people pictures.
        Download HD people photos for free on Unsplash.","cover_photo":{"id":"PmNjS6b3XP4","slug":"PmNjS6b3XP4","created_at":"2017-04-20T22:04:07Z","updated_at":"2023-07-31T07:01:29Z","promoted_at":"2017-04-21T16:00:49Z","width":4630,"height":3087,"color":"#a6d9d9","blur_hash":"LjI=x%:QUbv#NHWVa}kCt7jFjZfQ","description":"Summer
        in France with baby","alt_description":"woman carrying baby while walking","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1492725764893-90b379c2b6e7?ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-149272[...]
