---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"a31ae987dcc62fa8112ccd4590b13430"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"t-aNkRjIK2Y","slug":"a-close-up-of-a-white-wall-with-red-paint-t-aNkRjIK2Y","created_at":"2023-07-03T15:05:56Z","updated_at":"2023-08-01T23:38:28Z","promoted_at":"2023-07-04T15:00:01Z","width":4000,"height":6000,"color":"#d9d9f3","blur_hash":"L9Q9vW*0n.Ou%EOHV?n,bwrrbbRj","description":null,"alt_description":"a
        close up of a white wall with red paint","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688396701527-23a459ae2bc5?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688396701527-23a459ae2bc5?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688396701527-23a459ae2bc5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688396701527-23a459ae2bc5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688396701527-23a459ae2bc5?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688396701527-23a459ae2bc5"},"links":{"self":"https://api.unsplash.com/photos/a-close-up-of-a-white-wall-with-red-paint-t-aNkRjIK2Y","html":"https://unsplash.com/photos/a-close-up-of-a-white-wall-with-red-paint-t-aNkRjIK2Y","download":"https://unsplash.com/photos/t-aNkRjIK2Y/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8","download_location":"https://api.unsplash.com/photos/t-aNkRjIK2Y/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5OTI4NjR8"},"likes":75,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"1KQwNa_GEuY","updated_at":"2023-08-01T06:24:59Z","username":"mak_jp","name":"Mak","first_name":"Mak","last_name":null,"twitter_username":null,"portfolio_url":"https://note.com/jump_photo_4u","bio":"Ehime
        Japan | Streetphotography/BnW/FilmLook | FUJIFILM XT20/X100F","location":"Matsuyama","links":{"self":"https://api.unsplash.com/users/mak_jp","html":"https://unsplash.com/@mak_jp","photos":"https://api.unsplash.com/users/mak_jp/photos","likes":"https://api.unsplash.com/users/mak_jp/likes","portfolio":"https://api.unsplash.com/users/mak_jp/portfolio","following":"https://api.unsplash.com/users/mak_jp/following","followers":"https://api.unsplash.com/users/mak_jp/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1550709276110-131b40f03f83?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1550709276110-131b40f03f83?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1550709276110-131b40f03f83?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"3apples_mak","total_collections":77,"total_likes":5223,"total_photos":11962,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"3apples_mak","portfolio_url":"https://note.com/jump_photo_4u","twitter_username":null,"paypal_email":null}},"exif":{"make":"FUJIFILM","model":"X-T20","name":"FUJIFILM,
        X-T20","exposure_time":"1/420","aperture":"1.0","focal_length":"24.0","iso":800},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"stain"},{"type":"search","title":"ice"}],"tags_preview":[{"type":"search","title":"stain"},{"type":"search","title":"ice"}],"views":492162,"downloads":4325,"topics":[]}'
  recorded_at: Wed, 02 Aug 2023 16:14:24 GMT
recorded_with: VCR 6.2.0
