---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"fe2ea568a611eab1abe185ad47ad3493"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '45'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"34kF5mTRoU4","slug":"34kF5mTRoU4","created_at":"2023-01-29T13:14:10Z","updated_at":"2023-08-01T21:34:05Z","promoted_at":"2023-07-10T18:08:01Z","width":5472,"height":3648,"color":"#d9d9d9","blur_hash":"L9NwZo-:4TM{?Z%Lj]RkxtWB9Zxu","description":null,"alt_description":"a
        person walking up the side of a snow covered mountain","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1674997637853-d237a8fc0795?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1674997637853-d237a8fc0795?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1674997637853-d237a8fc0795?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1674997637853-d237a8fc0795?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1674997637853-d237a8fc0795?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1674997637853-d237a8fc0795"},"links":{"self":"https://api.unsplash.com/photos/34kF5mTRoU4","html":"https://unsplash.com/photos/34kF5mTRoU4","download":"https://unsplash.com/photos/34kF5mTRoU4/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8","download_location":"https://api.unsplash.com/photos/34kF5mTRoU4/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MzI3OTN8"},"likes":28,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{"travel":{"status":"rejected"},"nature":{"status":"rejected"},"athletics":{"status":"rejected"},"wallpapers":{"status":"rejected"}},"user":{"id":"_E0btZ1TfMw","updated_at":"2023-08-01T16:29:13Z","username":"alex_gruber","name":"Alex
        Gruber","first_name":"Alex","last_name":"Gruber","twitter_username":"m0c0000","portfolio_url":"http://www.lowfidelity.at","bio":"visual
        loving, art appreciating, maintitle admiring human.\r\nart stuff from my 365
        daily challange on instagram: @will_willert my commercial film work on my
        company website: www.lowfidelity.at. ","location":"Vienna","links":{"self":"https://api.unsplash.com/users/alex_gruber","html":"https://unsplash.com/@alex_gruber","photos":"https://api.unsplash.com/users/alex_gruber/photos","likes":"https://api.unsplash.com/users/alex_gruber/likes","portfolio":"https://api.unsplash.com/users/alex_gruber/portfolio","following":"https://api.unsplash.com/users/alex_gruber/following","followers":"https://api.unsplash.com/users/alex_gruber/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1537596850074-1b4b0ce97f33?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1537596850074-1b4b0ce97f33?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1537596850074-1b4b0ce97f33?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"will_willert","total_collections":5,"total_likes":2174,"total_photos":420,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"will_willert","portfolio_url":"http://www.lowfidelity.at","twitter_username":"m0c0000","paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS R6","name":"Canon, EOS R6","exposure_time":"1/8000","aperture":"2.0","focal_length":"85.0","iso":100},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        images","subtitle":"Download free nature images","description":"Nature produces
        the most astoundingly beautiful images: the swirling lava of a volcano, palm
        trees against a blue sky, snow-capped mountains towering above. Unsplash has
        magnificent , high-quality photos of all the delights that nature has to offer.","meta_title":"100+
        Nature Pictures | Download Free Images \u0026 Stock Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature pictures. Download HD nature photos for free
        on Unsplash.","cover_photo":{"id":"VE5FRc7uiC4","slug":"VE5FRc7uiC4","created_at":"2018-10-15T08:58:20Z","updated_at":"2023-07-31T16:04:30Z","promoted_at":"2018-10-15T12:23:00Z","width":4640,"height":3480,"color":"#262640","blur_hash":"L21o;CogI7WARNaxt9j]Mvaxxwof","description":"lost
        in the sky","alt_description":"star in space","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1539593395743-7da5ee10ff07?ixlib=rb-4[...]
