---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"a2e7f457c2e18dfb472242e8b67bf20e"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '39'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"xIi-9ck6ERQ","slug":"a-mirror-hanging-on-a-wall-next-to-a-lamp-xIi-9ck6ERQ","created_at":"2023-07-06T13:42:58Z","updated_at":"2023-07-31T21:38:01Z","promoted_at":"2023-07-16T12:32:01Z","width":3085,"height":3856,"color":"#d9d9d9","blur_hash":"LPON2m%g_4IUxBj[R*WB%gNFoyxu","description":null,"alt_description":"a
        mirror hanging on a wall next to a lamp","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688650963441-a4ce8fa08d50?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688650963441-a4ce8fa08d50?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688650963441-a4ce8fa08d50?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688650963441-a4ce8fa08d50?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688650963441-a4ce8fa08d50?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688650963441-a4ce8fa08d50"},"links":{"self":"https://api.unsplash.com/photos/a-mirror-hanging-on-a-wall-next-to-a-lamp-xIi-9ck6ERQ","html":"https://unsplash.com/photos/a-mirror-hanging-on-a-wall-next-to-a-lamp-xIi-9ck6ERQ","download":"https://unsplash.com/photos/xIi-9ck6ERQ/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8","download_location":"https://api.unsplash.com/photos/xIi-9ck6ERQ/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA5MTk4MTB8"},"likes":112,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"RJLa3GZIJkE","updated_at":"2023-08-01T04:42:23Z","username":"sixteenmilesout","name":"Sixteen
        Miles Out","first_name":"Sixteen","last_name":"Miles Out","twitter_username":"Sixteenmilesout","portfolio_url":"http://www.sixteenmilesout.com","bio":"Photographer
        | Creator | Come follow me on Instagram @sixteenmilesout\r\nI post here because
        I want to share the gift God has given me. Be blessed as you use my work!  If
        you''d like to donate to my work my PayPal link is below. ","location":"California
        Central Coast","links":{"self":"https://api.unsplash.com/users/sixteenmilesout","html":"https://unsplash.com/@sixteenmilesout","photos":"https://api.unsplash.com/users/sixteenmilesout/photos","likes":"https://api.unsplash.com/users/sixteenmilesout/likes","portfolio":"https://api.unsplash.com/users/sixteenmilesout/portfolio","following":"https://api.unsplash.com/users/sixteenmilesout/following","followers":"https://api.unsplash.com/users/sixteenmilesout/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1644415772148-03a326feb935image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1644415772148-03a326feb935image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1644415772148-03a326feb935image?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"sixteenmilesout","total_collections":13,"total_likes":213,"total_photos":614,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"sixteenmilesout","portfolio_url":"http://www.sixteenmilesout.com","twitter_username":"Sixteenmilesout","paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS 5D Mark IV","name":"Canon, EOS 5D Mark IV","exposure_time":"1/30","aperture":"3.2","focal_length":"50.0","iso":800},"location":{"name":null,"city":null,"country":null,"position":{"latitude":0.0,"longitude":0.0}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"mirror"},{"type":"search","title":"mirror
        reflection"},{"type":"search","title":"photography"},{"type":"search","title":"pendant"},{"type":"search","title":"locket"},{"type":"search","title":"jewelry"}],"tags_preview":[{"type":"search","title":"mirror"},{"type":"search","title":"mirror
        reflection"},{"type":"search","title":"photography"}],"views":462643,"downloads":3126,"topics":[]}'
  recorded_at: Tue, 01 Aug 2023 19:56:50 GMT
recorded_with: VCR 6.2.0
