---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/photos/random/?client_id=KXGPdzW7pghAeWUVP5oxhZcLCiDad1VPN_tBNIC8p80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"b19562de8517f04c9ee20181ebdf33f1"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"xg5heLPdVgQ","slug":"a-close-up-of-a-cheetah-laying-in-the-grass-xg5heLPdVgQ","created_at":"2023-07-02T10:00:55Z","updated_at":"2023-07-31T02:40:48Z","promoted_at":"2023-07-03T17:40:01Z","width":4480,"height":6720,"color":"#264026","blur_hash":"LTFZ4pM{4nog~pRkM{RjozRksDay","description":"Cheetah
        lying down in the grass taking some rest instagram: @wesleysphoto","alt_description":"a
        close up of a cheetah laying in the grass","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1688291997328-f67f8f3e0330?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1688291997328-f67f8f3e0330?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1688291997328-f67f8f3e0330?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1688291997328-f67f8f3e0330?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1688291997328-f67f8f3e0330?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1688291997328-f67f8f3e0330"},"links":{"self":"https://api.unsplash.com/photos/a-close-up-of-a-cheetah-laying-in-the-grass-xg5heLPdVgQ","html":"https://unsplash.com/photos/a-close-up-of-a-cheetah-laying-in-the-grass-xg5heLPdVgQ","download":"https://unsplash.com/photos/xg5heLPdVgQ/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8","download_location":"https://api.unsplash.com/photos/xg5heLPdVgQ/download?ixid=M3w0ODE0Nzl8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTA4Mzc2NjZ8"},"likes":93,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"ZA8ZOUM_J9M","updated_at":"2023-07-24T00:40:22Z","username":"wesleysphoto","name":"Wesley
        Whitfield","first_name":"Wesley","last_name":"Whitfield","twitter_username":null,"portfolio_url":null,"bio":"Published
        by WWF and BBC Earth","location":"United Kingdom","links":{"self":"https://api.unsplash.com/users/wesleysphoto","html":"https://unsplash.com/@wesleysphoto","photos":"https://api.unsplash.com/users/wesleysphoto/photos","likes":"https://api.unsplash.com/users/wesleysphoto/likes","portfolio":"https://api.unsplash.com/users/wesleysphoto/portfolio","following":"https://api.unsplash.com/users/wesleysphoto/following","followers":"https://api.unsplash.com/users/wesleysphoto/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1687875275706-0e52943ab14c?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1687875275706-0e52943ab14c?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1687875275706-0e52943ab14c?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"wesleysphoto","total_collections":0,"total_likes":45,"total_photos":10,"accepted_tos":true,"for_hire":true,"social":{"instagram_username":"wesleysphoto","portfolio_url":null,"twitter_username":null,"paypal_email":null}},"exif":{"make":"Canon","model":"
        EOS 5D Mark IV","name":"Canon, EOS 5D Mark IV","exposure_time":"1/640","aperture":"5.6","focal_length":"374.0","iso":640},"location":{"name":"Devon,
        UK","city":null,"country":"United Kingdom","position":{"latitude":50.715559,"longitude":-3.530875}},"meta":{"index":true},"public_domain":false,"tags":[{"type":"search","title":"devon"},{"type":"search","title":"uk"},{"type":"landing_page","title":"cheetah","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"animals","pretty_slug":"Animals"},"subcategory":{"slug":"cheetah","pretty_slug":"Cheetah"}},"title":"Cheetah
        pictures \u0026 images","subtitle":"Download free cheetah images","description":"The
        fastest animal on earth is also one of the prettiest, so don''t settle for
        less than gorgeous cheetah pictures. Unsplash has a massive collection of
        the finest cheetah pictures on the web, and you can use them for free!","meta_title":"500+
        Cheetah Pictures [HD] | Download Free Images on Unsplash","meta_description":"Choose
        from hundreds of free cheetah pictures. Download HD cheetah photos for free
        on Unsplash.","cover_photo":{"id":"bcJUbYd5gTo","slug":"bcJUbYd5gTo","created_at":"2019-03-07T14:31:05Z","updated_at":"2023-07-24T13:06:33Z","promoted_at":null,"width":5044,"height":3198,"color":"#c08c59","blur_hash":"LaM5]u0htQr?9d-mjFW=t3xGNIs-","description":"A
        Cheetah at the Inverdoorn Game Reserve in South Africa being rehabiliated
        and prepared to be allowed to roam free in a national park.","alt_description":"cheetah
        on grass field","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/p[...]
